body,
html {
  font-family: "Raleway", sans-serif; 
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #279EFF;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #279EFF;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}
/* Navigation */
#menu {
  padding: 15px;
  transition: all 0.8s;
}
#menu.navbar-default {
  background-color: #fff;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#menu a.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
#menu.navbar-default .navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 20px 0;
}
#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #0C356A 0%, #279EFF 100%);
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #0C356A 0%, #279EFF 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #279EFF;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #279EFF;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background-color: white;;
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.section-title p {
  font-size: 18px;
}
.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #279EFF;
  background-image: linear-gradient(to right, #279EFF 0%, #0C356A 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #0C356A;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Header Section */
.intro {
  display: table;
  width: 100%;
  padding: 0;
  background: url(../img/intro-bg.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}
.intro h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 62px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.intro h1 span {
  font-weight: 800;
  color: #279EFF;
}
.intro p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
header .intro-text {
  padding-top: 350px;
  padding-bottom: 200px;
  text-align: center;
}
/* Features Section */
#features {
  background: #f6f6f6;
  padding-top: 100px;
  padding-bottom: 40px;
}
#features i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #0C356A 0%, #279EFF 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
/* About Section */
#about {
  padding: 100px 0;
}
#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #279EFF 0%, #0C356A 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}
#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
  font-size: 15px;
}
#about .about-text li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #279EFF;
  font-size: 15px;
  font-weight: 300;
  padding-right: 8px;
}
#about img {
  width: 520px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#about p {
  line-height: 24px;
  margin: 30px 0;
  font-size: 15px;
  
}


/* Courses Section */
#Courses {
  padding: 100px 0;
  background: linear-gradient(to right, #0C356A 0%, #279EFF 100%);
  color: #fff;
  text-align: center;
}
#Courses .service-desc {
  margin: 40px auto; /* Increased margin */
  max-width: 600px;
   /* Set maximum width */
}
#Courses h2 {
  color: #fff;
}
/* #Courses .section-title h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: rgba(255, 255, 255, 0.7);
  margin: 20px auto; 
} */
#Courses i.fa {
  font-size: 50px; /* Slightly increased icon size */
  width: 120px; /* Adjusted width */
  height: 120px; /* Adjusted height */
  line-height: 120px; /* Center icon vertically */
  background: #fff; /* White background */
  border-radius: 50%;
  color: #279EFF; /* Adjusted icon color */
  margin-bottom: 0px; /* Adjusted margin */
  display: inline-block; /* Added to center align */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); /* Improved shadow */
  transition: transform 0.3s ease;
}
#Courses h3 {
  font-size: 22;
  font-weight: 600; /* Increased font weight */
  padding: 0px 0;
  color: #fff;
}
#Courses p {
  color: #ffffff; /* Adjusted text color */
  margin-bottom: 20px; 
}
#Courses li {
  padding-left: 32%;
  max-width: 80%;
}
.bul {
  list-style: none;
  padding-left: 0;
}

.bul li {
  text-align: left;
}

.bullet-point {
  margin-right: 5px; /* Adjust as needed */
}
/* Portfolio Section */
#portfolio {
  padding: 100px 0;
}
.portfolio-item {
  margin: 1px -15px 0 -14px;
  padding: 0;
}
.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}

.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(99, 114, 255, 0.8) 0%,
    rgba(92, 169, 251, 0.8) 100%
  );
  padding: 30% 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}
.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}
/* Testimonials Section */
#testimonials h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #279EFF 0%, #0C356A 100%);
  height: 4px;
  width: 60px;
  bottom: 0;

}
#testimonials {
  padding: 100px 0;
  background: #f6f6f6;
}
#testimonials i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}
.testimonial {
  position: relative;
  padding: 20px;
}
.testimonial-image {
  float: left;
  margin-right: 15px;
}
.testimonial-image,
.testimonial-image img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}
/* Team Section */
#team {
  padding: 100px 0;
}
#team h4 {
  margin: 5px 0;
}
#team .team-img {
  width: 240px;
  border: 1px #0C356A solid;
}
#team .thumbnail {
  background: transparent;
  border: 0;
}
#team .thumbnail .caption {
  padding: 10px 0 0;
  color: #888;
}
/* Contact Section */
#contact {
  padding: 100px 0 60px;
  background: linear-gradient(to right, #0C356A 0%, #279EFF 100%);
  color: rgba(255, 255, 255, 0.75);
  }
  #contact .section-title {
  margin-bottom: 10px;
  text-align: left;
  }
  #contact .section-title p {
  font-size: 16px;
  
  }
  #contact h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  }
  #contact .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
  }
  #contact h3 {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
  }
  #contact form {
  padding-top: 20px;
  }
  #contact .text-danger {
  color: #cc0033;
  text-align: left;
  }
  #contact .btn-custom {
  margin: 0 0;
  background: transparent;
  font-size: 18px;
  padding: 14px 30px;
  border: 2px solid #fff;
  }
  .btn-container {
    text-align: left;
  }
  #contact .btn-custom:hover {
  color: #1f386e;
  background: #fff;
  }

  label {
  font-size: 20px;
  font-weight: 800;
  color: white;
  font-family: "Raleway", sans-serif;
  /* float: left; */
  display: block;
  }
  .form-group{
  border-radius: 4px;
  }
  #contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  }
  #contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
  }
  .form-control::-webkit-input-placeholder {
  color: #777;
  }
  .form-control:-moz-placeholder {
  color: #777;
  }
  .form-control::-moz-placeholder {
  color: #777;
  }
  .form-control:-ms-input-placeholder {
  color: #777;
  }
  /* Contact Info */
  #contact .contact-item {
    margin: 20px 0;
  }
  
  #contact .contact-item span {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
    display: block;
  }
  
  #contact .contact-item i.fa {
    margin-right: 10px;
  }
  
  #contact .contact-item span.address {
    /* Apply alignment rule to address span */
    text-align: left;
  }
  
  #contact .social {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 50px;
    margin-top: 50px;
    text-align: center;
  }
  
  #contact .social ul li {
    display: inline-block;
    margin: 0 20px;
  }
  
  #contact .social i.fa {
    font-size: 22px;
    width: 48px;
    height: 48px;
    padding: 12px 0;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50%;
    transition: all 0.3s;
  }
  
  #contact .social i.fa:hover {
    color: #279EFF;
    background: #fff;
  }

/* MAPS */

.mapcontainer {
  margin-left: auto;
  padding-bottom: 50px;
  margin-right: auto;
  text-align: center;
}

.title {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2px; /* Adjust margin */
}

.service-name {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; 
  margin-top: 2px; 
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack items vertically */
}

.map-iframe {
  width: 100%; /* Adjusted width */
  max-width: 1200px; /* Maximum width */
  height: 70vh; /* Adjusted height */
  border: none;
}

/* Footer Section*/
#footer {
  background: #f6f6f6;
  padding: 30px 0;
}
#footer p {
  color: #888;
  font-size: 14px;
}
#footer a {
  color: #0031ac;
}
#footer a:hover {
  border-bottom: 2px solid #0031ac;
}

@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
}

.formContainer {
  max-width: 1000px;
  max-height: 800px;
  margin: 0 auto;
  padding: 100px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 100px;
  background: linear-gradient(to right, #0C356A 0%, #279EFF 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h6 {
  margin-top: 10px;
  color: white;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 500px;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}


button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.checkboxLabel {
  margin-bottom: 10px; 
  margin-right: 5px;
}

.checkboxLabel input[type="checkbox"] {
  margin-right: 5px; 
}

.inputHeader{
  color: white;
  font-size: 5rem;
  font-family: "Raleway", sans-serif; 
  font-weight: 800;
  margin-bottom: 20px;
}
textarea {
  resize: vertical;
}
.whatsapp-icon {
  position: fixed;
  bottom: 3%;
  right: 2%; /* Adjust as needed */
  z-index: 1000;
}

.whatsapp-icon a {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  background-color: rgba(255, 255, 255, 0.923);
  color: green;
  border-radius: 50%;
  font-size: 24px; /* Adjust font size as needed */
  text-align: center;
  line-height: 1; /* Center icon vertically */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: breathe 0.7s infinite alternate;
}

.whatsapp-icon a:hover {
  background-color: rgb(255, 255, 255); /* Example hover background color */
  animation: none; /* Disable animation on hover */
}


@keyframes breathe {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.show-more-button {
  background-color: #f8f9fa;
  color: #1a73e8;
  border: 1px solid #dadce0;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.show-more-button:hover {
  background-color: #e2e7ff;
}

.read-more-button,
.read-less-button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
}

.read-more-button:hover,
.read-less-button:hover {
  text-decoration: underline;
}