@media screen and (max-width: 500px) {
  #features {
    width: 136%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 136%;
  }

  #portfolio {
    width: 136%;
  }
}
